/* General Settings */

body {

    font-family: 'Poppins', sans-serif;

    background-color: #800080;

    margin: 0;

    padding: 20px;

    color: #333;

}


.container {

    max-width: 800px;

    margin: auto;

    background: #ffc0cb;

    padding: 40px;

    border-radius: 10px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}


header.personal-info {

    display: flex;

    flex-direction: column;

    align-items: center; /* Centers all items inside the header */

    text-align: center;

    border-bottom: 2px solid #e0e6ed;

    padding-bottom: 20px;

    color: #0056b3;

}


.personal-info h1 {

    margin: 10px 0;

    font-size: 2em;

    color: #000000;

}


.personal-info p {

    margin-top: 5px;

    color: #000000;

}


.profile-pic {

    border-radius: 50%;

    width: 120px;

    height: 120px;

    object-fit: cover;

    margin-bottom: 10px;

}


/* Section Headings */

section {

    margin-top: 20px;

}


section h2 {

    font-size: 1.5em;

    color: #000000;

    border-bottom: 2px solid #e0e6ed;

    padding-bottom: 10px;

}


/* Lists */

ul {

    list-style: none;

    padding: 0;

}


li {

    margin: 10px 0;

    font-size: 1em;

}


/* Toggle Button */

button {

    display: block;

    width: 100%;

    padding: 10px;

    margin-top: 20px;

    font-size: 1em;

    font-weight: 600;

    color: #ffffff;

    background-color: #000000;

    border: none;

    border-radius: 5px;

    cursor: pointer;

}


button:hover {

    background-color: #000000;

}




